div.login-form{
	margin: 5em auto;
	width: 31em;
}
div.login-form h1 {
	color: white;
	font-size: 16px;
	font-weight: bold;
	background: -moz-linear-gradient(top,#829AA8,#405A6A);
	background: -moz-linear-gradient(center top,'#829AA8','#405A6A');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#829aa8',endColorstr='#405a6a');
	background: -webkit-gradient(linear,left top,left bottom,from(#829AA8),to(#405A6A));
	background: -moz-linear-gradient(top,#829AA8,#405A6A);
	border: 1px solid #677C89;
	border-bottom-color: #6B808D;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 8px 18px;
	border-image: initial;
}
div.login-form .formloginbody {
	padding: 2em;
	padding-bottom: 5px;
	background-color: #E9F1F4;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
div.login-form h1 a {
	font-size: 70%;
	font-weight: normal;
	color: #E9F1F4;
	text-shadow: none;
}
div.login-form h1 a:hover {
	text-decoration: underline;
}
div.login-form form label{
	font-size: 110%;
	color: #2F424E;
	text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
	display: inline-block;
	cursor: text;
}
div.formloginbody input.input{
	font-size: 130%;
	height: 1.4em;
	border: 1px #CCC solid;
	padding-left: 5px;
}
.remember {
	float: left;
	padding:0px;
	margin: 0px;
	margin-top: 5px;
}
#labelRemember
{
    margin: 4px 0 0 3px;
    font-size:12px;
    color: #666;
}
#error
{
    color : Red;
    font-size:13px;
}