<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="../Styles/Login.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Site.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/GetParameter.js" type="text/javascript"></script>
    <script src="../Scripts/login.js" type="text/javascript"></script>
</head>
<body>
    <div id='header'>
	    <div class="container">
		    <ul class="top-nav">
			    <li class="signup">
				    <a href="javascript://" id='register'>Mendaftar</a>
			    </li>
			    <li class="login">
				    <a href="javascript://" id='login'>Masuk</a>
			    </li>
		    </ul>
	    </div>
    </div>
    <div id="section">
	    <div id='body' class="container">
		    <div class="login-form">
			    <form id='logins' method='POST'>
				    <h1>Masuk</h1>
				    <div class='formloginbody'>
					    <label for='username'>Email</label> <br/>
					    <input type='email' name='Username' class='input' style='width:21em;' autocapitalize='off' tabindex='1' required='required'/>
					    <br />
					    <label for='password'>Kata Sandi</label><br/>
					    <input type='password' name='Password' class='input' style='width:21em;' autocapitalize='off' tabindex='2' required='required'/>
					    <br/>
					    <input type='checkbox' name='RememberMe' class='remember' value="True"/> 
                            <label id='labelRemember'>Biarkan saya tetap masuk</label>
					    <p><input type='submit' value='Masuk'/></p>
                        <label id='error'></label>
				    </div>
			    </form>
		    </div>
	    </div>
    </div>
</body>
</html>